<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{dd/MM/YYYY HH:mm:ss.SSS} %highlight([%level]) %logger - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="io.netty" level="WARN"/>
    <logger name="org.asynchttpclient.netty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>